@model ServiceListModel

<div class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title3 padding_plus text-center mb-90">
                        <h3>Hizmetlerimiz</h3>
                    </div>
                </div>
            </div>

<partial name = "_services">
