@model AlertType

<div class="row">
    <div class="col-md-12">
        <div class = "container alert alert-@Model.Alert mt-5">
            <h4 class="alert-title">@Model.Title</h4>
            <p>@Model.Message</p> 
        </div>
    </div>
</div>