@{
    Layout = null;
}

<div class="alert alert-danger m-5">Yetkinizin Olmadığı Bir Alana Erişmeye Çalışıyorsunuz!</div>
<div class="m-5">Anasayfaya dönmek için <a href="/Home/index">TIKLAYIN</a> </div>